backups/xciBpTQzzMclS2IZSDvhp.json
{
  "updatedAt": "2026-02-05T18:13:12.147Z",
  "createdAt": "2026-02-02T08:53:27.598Z",
  "id": "xciBpTQzzMclS2IZSDvhp",
  "name": "Backup",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "9a62e34c-e5c8-4411-a941-62f643292c1f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "http://localhost:5678/api/v1/workflows",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "n8nApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        464,
        0
      ],
      "id": "64d6be7d-e37b-4f90-ab41-15cd439d4077",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "fnTw4prwXjSnJhyk",
          "name": "Header Auth account"
        },
        "n8nApi": {
          "id": "jUGJofudvGLeZEhy",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true,
          "fileName": "={{ $json.id }}.json"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        944,
        0
      ],
      "id": "9f28fec8-69da-4d03-9250-cf872e1c5155",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9bbcede2-63b4-4e3c-98ed-78edf91e76a6",
              "name": "folderNmae",
              "value": "Backup_{{ $now.format(\"yyyy-MM-d d') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "1f32d28e-107e-4b97-be7a-40f631a1db72",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        688,
        0
      ],
      "id": "255c6fe7-dde8-4fc1-b48b-dfca6e7b8b0b",
      "name": "Split Out"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "Doukni",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "AiAgenter"
        },
        "filePath": "=backups/{{ $binary.data.fileName }}",
        "binaryData": true,
        "commitMessage": "Create New Workflow"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1392,
        0
      ],
      "id": "a07f1ade-bb2b-45d9-9d1f-c5c27d92cbb3",
      "name": "Create a file",
      "webhookId": "2070e8be-c85e-4864-9d66-7cb74c813d7c",
      "credentials": {
        "githubOAuth2Api": {
          "id": "yb3KvcKEJUHQT0Y5",
          "name": "GitHub account 2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "Doukni"
        },
        "repository": {
          "__rl": true,
          "value": "AiAgenter",
          "mode": "name"
        },
        "filePath": "=backups/{{ $binary.data.fileName }}",
        "binaryData": true,
        "commitMessage": "Auto backup"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1184,
        0
      ],
      "id": "54a94826-8acb-4a5b-851c-bc4f494a447f",
      "name": "Edit a file",
      "webhookId": "97246103-0a0e-475b-bc2c-b34a7fa5c2d7",
      "credentials": {
        "githubOAuth2Api": {
          "id": "yb3KvcKEJUHQT0Y5",
          "name": "GitHub account 2"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Edit a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit a file": {
      "main": [
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "1077ee14-9f2f-4345-9035-b8dff7e76ec7",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-02T08:53:27.608Z",
      "createdAt": "2026-02-02T08:53:27.608Z",
      "role": "workflow:owner",
      "workflowId": "xciBpTQzzMclS2IZSDvhp",
      "projectId": "JkSHDoT17IYpppIK"
    }
  ],
  "activeVersion": null,
  "tags": []
}